.likedin_v1 {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.likedin_v1 svg {
    width: 100px !important;
    height: 100px !important;
    opacity: 0;
}

.likedin__liked svg {
    opacity: 0;
    animation: icon_animated 1.5s 2 alternate ease-in-out;
}

@keyframes icon_animated {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    25% {
        transform: scale(1.2);
        opacity: 1;
    }

    50% {
        transform: scale(0.8);
        opacity: 1;
    }

    75% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.likedin_v1 svg>* {
    fill: #FFFFFF;
}

.likedin_v1__video {
    height: calc(100% - 50px);
}

.likedin_v1__video svg {
    margin-top: 50px;
}

.likedin_v1__iframe {
    margin: 40px;
    height: calc(100% - 80px);
    width: calc(100% - 80px);
}

header {
    z-index: 9999 !important;
}