* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif, Helvetica;
}

body {
    font-size: 16px;
    height: 300px;
    width: 200px;
    background-color: #1f2429;
    color: #FFF;
    padding: 20px;
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 30px;
    position: relative;
}

.logo_container img {
    width: 16px;
}

.logo_container span {
    font-weight: 600;
    font-size: 14px;
}

.logo_container .version {
    font-weight: 400;
    font-size: 8px;
    opacity: .5;
    margin-top: 5px;
}

.options_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.active_option {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.active_option .status {
    width: calc(100% - 40px);
    cursor: pointer;
    font-size: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    user-select: none;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked+.slider {
    background-color: #0077B7;
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px #0077B7;
}

.switch input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.likedin_alert {
    display: none;
    width: 100%;
    padding: 0 20px;
    color: rgb(228, 92, 92);
    font-size: 12px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    place-items: center;
}

.reaction_option {
    display: grid;
    place-items: center;
    width: 100%;
}

.reaction_option span {
    width: 100%;
    color: #FFF;
    margin-bottom: 10px;
    font-size: 14px;
}

.reaction_option .reactions_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.reaction_option likedin_react {
    cursor: pointer;
    opacity: .5;
    width: 46px;
    height: 46px;
    transition: all .3s ease;
    filter: grayscale(.7);
    outline: 2px solid transparent;
    border-radius: 10px;
}

.reaction_option likedin_react:hover {
    opacity: 1;
    filter: none;
}

.reaction_option likedin_react._selected {
    opacity: 1;
    outline-color: #FFF;
    filter: none;
}

.reaction_option likedin_react img {
    width: 100%;
    height: 100%;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

footer a {
    cursor: pointer;
    transition: all .3s ease;
    opacity: .8;
}

footer a:hover {
    opacity: 1;
}

footer svg {
    fill: #FFFFFF;
}